#my-projects {
  padding-top: 72px;
  padding-bottom: 144px;
  width: 1366px;
  justify-items: center;

  #projects {
    margin-top: 56px;
    gap: 24px;
    justify-content: center;
  }
}

#my-services {
  width: 1366px;
  height: 480px;
  width: 100%;
  background-color: var(--gray-600);
  padding-block: 88px 120px;

  #services {
    margin-top: 56px;
    justify-content: center;
    gap: 24px;
  }
}

#contact {
  background: url(../assets/Background_Contacts.png) no-repeat center/100%;
  height: 787px;

  header {
    padding-top: 128px;

    p span {
      color: var(--purple);
      font: var(--subtitle);
    }

    h2 {
      margin-top: 8px;
    }

    p {
      color: var(--gray-200);
      font: var(--text-md);
      margin-top: 8px;
    }
  }

  #links {
    justify-content: center;
    margin-top: 48px;
    gap: 16px;
  }
}
