* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*produto*/
  --brand-color-light: #60a5fa;
  --brand-color-dark: #1d4ed8;
  /*base*/
  --bg-color: #0f172a;
  --stroke-color: #1e293b;
  /*textos*/
  --text-color-primary: #f1f5f9;
  --text-color-secondary: #cbd5e1;
  /*fontes*/
  --font-family: "Archivo", sans-serif;
  --h1: 800 24px/135% var(--font-family); /*extrabold = 800*/
  --h2: 800 16px/140% var(--font-family);
  --h3: 800 14px/140% var(--font-family);
  --text-span: 600 16px/145% var(--font-family); /*semibold = 600*/
  --text: 400 16px/140% var(--font-family); /*regular = 400*/ /*aqui é uma fonte 'padrão' não está na tipografia*/
  --text-sm: 400 14px/160% var(--font-family);
}

body {
  /*aplicando no body as cores padrões de texto e background*/
  color: var(--text-color-primary);
  background-color: var(--bg-color);
  /*aplicando no body a fonte padrão de texto*/
  font: var(--text);
}

a {
  /*ajustando a tag <a> no projeto*/
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color-light);
}

h1,
h2,
h3 {
  /*como o projeto possui diferentes títulos nas caixas e comportamentos diferentes, aqui a fonts está sendo herdada do 'pai', ignorando o padrão de título do navegador*/
  font: inherit;
}

img {
  max-width: 100%; /* aplicando um padrão para as imagens respeitarem 100% da caixa onde ela está inserida */
}

/* configurações padrão para o container */
.container {
  max-width: 1280px;
  padding-inline: 32px;
  margin-inline: auto;
}

main {
  margin-block: 40px;
  row-gap: 80px;
  column-gap: 32px;

  grid-template-columns: 2fr 1.5fr; /* não precisa ser 'pixel perfect' */

  /* criando uma estrutura para o grid template areas para fazer o posicionamento das últimas selções */
  grid-template-areas:
    "featured featured"
    "weekly weekly"
    "ai aside";
}

/* tag dos cards */
.content-tag {
  display: inline-block; /* para que os paddings se comportem corretamente */
  background-color: var(--brand-color-dark);
  padding: 4px 8px;
  border-radius: 4px;
  font: 500 10px/1.2 var(--font-family);
  text-transform: uppercase;
  letter-spacing: 0.04em; /* espaçamento de acordo com o tamanho da fonte do pai */
  color: var(--text-color-primary);
  box-shadow: 0px 4px 16px rgba(2, 6, 23, 0.251);
}
