section header {
  border-top: 1px solid var(--stroke-color);
  padding-block: 12px 24px;
  font: var(--text-span);

  /* aplicando o mesmo comportamento para as outras sections */

  a {
    justify-self: end;
    align-items: center;
    gap: 8px;

    /*colocou a imagem no css para fazer o hover*/
    span {
      background-image: url(../assets/icons/ArrowRight.svg);
      width: 16px;
      height: 16px;
    }

    &:hover span {
      background-image: url(../assets/icons/ArrowRight-hover.svg);
    }
  }
}

#featured {
  grid-area: featured;
  img {
    height: 100%; /* preenche os espaços que estavam sobrando ao aplicar o grid */
    object-fit: cover; /* sem distorcer a imagem */
  }

  .card {
    border-radius: 4px;
    overflow: hidden; /* ocultando o que pode ultrapassar da caixa */
    position: relative; /* aplicando o relative no card para que o degradê seja absoluto ao card */

    &::before {
      /* usa-se o & para referenciar o próprio .card, como se estivesse fazendo .card::before */
      /* criando o efeito degradê na imagem */
      content: "";
      position: absolute;
      inset: 0;
      top: 50%;
      background: linear-gradient(180deg, transparent 0%, #020617 100%);
    }

    figcaption {
      position: absolute;
      bottom: 0;

      padding: 24px;

      /* figcaption tem alguma classe .text-lg? se sim, aplica o que estiver na declaração */
      &:has(.text-lg) {
        padding: 12px;
      }

      h2 {
        margin-top: 8px;
      }
    }
  }
}

#weekly {
  grid-area: weekly;
  /* aplicando o grid-template para definir o tamanho das imagens*/
  & > div {
    grid-template-columns: repeat(4, 292px);
  }

  img {
    height: 160px;
  }

  figure {
    position: relative;

    .content-tag {
      position: absolute;
      top: 8px;
      left: 8px;
    }

    p {
      margin-top: 8px;
      font-weight: 800;
    }
  }
}

#ai {
  grid-area: ai;
  img {
    width: 176px;
    aspect-ratio: 1/1; /* coloca a imagem em forma 'quadrada' */
    object-fit: cover; /* não distorcer a imagem */
  }

  h3 {
    margin-block: 8px 4px;
  }
}

aside {
  grid-area: aside;
}

#more {
  margin-top: 32px;

  h3 {
    margin-top: 8px;
  }
  img {
    width: 72px;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}
