/* utility-first */
/* classes utilitárias */

.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr; /* classe utilizada para destaques */
}

.gap-16 {
  gap: 16px; /* aplicação do gap padrão no grid */
}

.gap-32 {
  gap: 32px;
}

/* classes utilitárias para o tamanho da fonte */
.text-2xl {
  font: var(--h1);
}

.text-xl {
  font: var(--h2);
}

.text-lg {
  font: var(--h3);
}

.text-sm {
  font: var(--text-sm);
}
