* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Alice", serif;
  line-height: 150%;
  color: #573a37;
}

body {
  background-image: url(./assets/bg-image.jpg);
  background-size: cover; /*cobre todo o fundo independente do tamanho da página e zoom, por exemplo*/
}

#page {
  width: 800px;
  padding: 24px;
  background-color: #f0e8c2;
  border-radius: 24px;
  margin: 48px auto;
}

img {
  border-radius: 16px;
  width: 100%;
}

main {
  padding: 24px;
}

section + section {
  margin-top: 24px;
}

#about p + p {
  margin-top: 12px;
}
h1 {
  line-height: 140%;
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h1,
h2 {
  color: #291b1a;
  margin-bottom: 4px;
  line-height: 150%;
}

ul {
  padding-left: 32px;
}

footer {
  margin-top: 28px;
  padding-bottom: 48px;
  color: #f0e8c2;
  text-align: center;
}

footer svg {
  vertical-align: middle; /*posteriormente será utilizado o alinhamento através do 'display flex'*/
}
