* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

:root {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f5f4f0;
}

#page {
  padding: 88px 80px 48px;
  width: 1280px;
  margin: auto;
}

.headline {
  text-transform: uppercase;
  font-weight: 700;
  color: #e1624f;
}

h1 {
  margin-top: 8px;
  font-size: 36px;
}

h1,
h2,
h3 {
  color: #1b1b1b;
  font-weight: 700;
  line-height: 160%;
}

#intro {
  margin-top: 40px;
}

img {
  width: 100%;
  border-radius: 28px;
}

#intro img {
  height: 660px;
}

.subtitle {
  margin-top: 24px;
  color: #333333;
  font-style: italic;
  text-align: center;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 40px 0 40px;
  background-color: #d9d9d9;
}

#sigths {
  margin-top: 64px;
}

p {
  font-weight: 400;
  color: #333333;
}

h2 {
  margin: 2px 0 8px;
  font-size: 32px;
}

p + .card-travel {
  margin-top: 64px;
}

.card-travel {
  margin-top: 48px;
}

.card-travel img {
  height: 350px;
  object-fit: cover;
}

h3 {
  margin: 20px 0 4px;
  font-size: 28px;
  padding-left: 16px;
}

.card-travel p span {
  font-weight: 700;
}

.card-travel ul {
  padding-left: 24px;
}

.card-travel ul li {
  font-weight: 700;
}

ul li::marker {
  color: #333333;
}

.blue {
  color: #0c51a7;
}

.purple {
  color: #591b98;
}

.pink {
  color: #e5245e;
}

.orange {
  color: #e95e10;
}

#about p {
  text-align: center;
}

footer {
  margin-top: 65px;
  color: #333333;
  text-align: center;
  height: 24px;
}

footer svg {
  vertical-align: middle;
}
